*{

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{

  width: 100vw;
  height: 100vh;
}

.nav-container {

  display: flex;
}

i.fa-caret-left{

  margin-right: 15px;
  vertical-align: middle;
}

.navbar{

  width: 1250px;
  height: 100px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-left, .navbar-right{

display: flex;
flex-direction: row;
align-items: center;

}

#grey {

color:  rgb(160, 166, 173);
}

#grey:hover {

color:  black;
}

.navbar-left {

  text-transform: uppercase;
}

.nav-element{

  height: 70px;
  line-height: 70px;
  position: relative;
  display: flex;
  margin-left: 20px;

}

.drop-container-i{

position: absolute;
top: 70px;
right: 5px;
width: 180px;
background-color: rgba(0, 0, 0, 0.15);
display: none;
text-align: center;
box-shadow: 10px 10px 20px lightgrey;
border-radius: 7px;
text-align: right;
}

.drop-container-ii {

position: absolute;
display: none;
background-color: rgba(0, 0, 0, 0.15);
left: calc(-111%);
top: 70px;
width: 200px;
height: 150px;
text-align: center;
box-shadow: 20px 20px 20px lightgrey;
}

#crypto {

position: absolute;
top: 210px;
}

.drop-element-i, .drop-element-ii {

padding: 0 15px 0 0;
}

a {

  text-decoration: none;
  text-align: left;
  color:rgb(160, 166, 173);
}

a:hover {

  color: black;
}



.pink a {

  color: white;
  padding: 15px 25px;
  border-radius: 40px;
  color: white;
  background-color: rgb(235, 0, 141);
  text-align: center;
}
